.Cart {
  display: block;
  width: 80%;
  height: auto;
  background-color: rgb(0, 115, 166);
  color: white;
  padding: 10px;
  margin: auto;
}

.cart-title {
  padding: 10px;
}
.item {
  text-align: left;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 1%;
  border: 0.5px solid white;
}

.item-image {
    display: inline-block;
    width: 20%;
    padding: 5px;
}

.item-image img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.item-info {
  display: inline-block;
  width: 25%;
}

.item-details {
  display: block;
}

.item-quantity {
  margin-left: 5%;
  width: 25%;
  display: inline-block;
}
.item-quantity button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  color: black;
}

.item-quantity-int {
  padding: 7px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.item-price {
  width: auto;
  height: auto;
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.total {
  display: inline-block;
  text-align: left;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 1%;
  border: 0.5px solid white;
}
.total div {
  display: inline-block;
  padding: 10px;
  width: 30%;
}
.total div:last-child {
  margin-left: 39%;
  text-align: center;
}

.checkout {
  padding: 10px;
  width: 100%;
}

.checkout button{
  padding: 10px;
  color: black;
  border-radius: 5px;
}
