.Orders{
  overflow-x:auto;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 10%;
}
.Orders table, th{
  border-collapse: unset;
  border: 1px solid black;
  border-radius: 5px;
}
.Orders th {
  color: white;
  background: rgb(0, 115, 166);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.Orders th, td{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #f5f5f5;
}
