.Shipping{
  overflow-x:auto;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 10%;
}
.Shipping table, th{
  border-collapse: unset;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}
.Shipping th {
  color: white;
  background: rgb(0, 115, 166);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.Shiping th, td{
  padding: 10px;
  border: .5px solid #ddd;
  
}
tr:hover {
  background-color: #f5f5f5;
}
