@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.container {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}
body {
  font-family: 'Open Sans', 'sans-serif';
}

.listItem:hover {
	font-weight: bold;
}

#search-bar{
	margin-top: 10px;
	height: 30px;
}

.navbar .navbar-nav > li > a {
    color: #ffffff;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #ffffff;
	background-color: rgb(0, 115, 166);
}

.myButtons {
	margin-top: 10px;
}

.topNav{
background-color: rgb(0, 115, 166);
}

.topNav:hover {
background-color: rgb(0, 115, 166);
}

nav navbar-nav topNav:hover {
	
	background-color: rgb(0, 115, 166);
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}


/***** end of new css ******/


.center{
  float: left;
  position: absolute;
  top: 28%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.form-inline .form-control {
	width: 500px;
}


.dropdown-content a:hover {
	font-weight: bold;
	}
	
.footer  {
	background-color: #f2f2f2;
	font-color: #006099;
}

#top_nav {
	background-color: rgb(0, 115, 166);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

#nav_button {
	background-color: #f2f2f2;
	color: black;
}

#logo {
	width: 20%;
	height: auto;
}

#search-bar input {
 margin-bottom: 30px; 
}

.box:hover {
   border-color: black;
   background-color: #006099;
}


element.style {
}
#nav_button {
    background-color: #f2f2f2;
    color: black;
    margin-bottom: 35px !important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 576px)
.mb-sm-0, .my-sm-0 {
    margin-bottom: 0!important;
}
@media (min-width: 576px)
.mt-sm-0, .my-sm-0 {
    margin-top: 0!important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}

#externalPlaceholder {
	width: 80%;
	height: auto;
	margin: auto;
	display: block;
	text-align: center;
}


