.WishList{
  vertical-align: top;
}
.card {
  display: inline-block;
  margin-left: 5%;
  max-height: 520px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(0, 115, 166);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
#WishList-title {
  text-align: center;
  width: 300px;;
  height: auto;
  margin: auto;
}
#WishList-title h1{
  font-weight: bold;
  background: rgb(0, 115, 166);
  padding: 20px;
  border-radius: 10px;
  color: white;
}
